* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: "Poppins", sans-serif;
}

body {
    background: #333;
    color: #333;
    line-height: 1.6;
}

#toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background:#333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

#toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #D1AD0F;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #D1AD0F;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);

}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);

}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 219px;
    height: 100vh;
    background: #003147;
    transition: 0.5s;
    z-index: 10000;
}

#sidebar.active {
    left: -220px;
}
#sidebar ul {
    position: relative;
    margin-top: 120px;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 13px 0px 10px 18px;
    transition: 0.5s;
}

#sidebar ul li:hover {
    padding: 10px 30px;
    border-bottom: 5px solid #84cc84;
}
#sidebar ul li:nth-child(2):hover,
#sidebar ul li:nth-child(3):hover,
#sidebar ul li:nth-child(4):hover,
#sidebar ul li:nth-child(5):hover
{
  border-top: 3px solid #84cc84;
  cursor: pointer;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#main {
    position: relative;
    top: 0;
    left: 218px;
    width: 83.8%;

    background: #003147;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

#main.active {
    left: 0;
    width: 100%;
    transition: 0.5s;
}
#main.active .container {
    max-width: 90%;
    margin: 0 7%;
    overflow: auto;
    padding: 0 10px;
}

